
/* ########### 
GLOBALS 
#############*/
@font-face {
    font-family: "NanumPen";
    src: local("NanumPen"),url(~assets/NanumPen/NanumPenScript-Regular.ttf) format("truetype");}

:root {
  --bg-darker: hsl(171, 56%, 8%);
  --bg-dark: hsl(171, 56%, 12%);
  --font-light: hsl(171, 56%, 92%);
  --bg-light: hsl(171, 56%, 82%);
  --clr-accent: hsl(142, 67%, 41%);
  --clr-brand-normal: hsl(142, 67%, 41%);
  --clr-brand-blue: hsl(193, 67%, 76%);
  --clr-brand-dark: hsl(159, 64%, 34%);
  --clr-brand-light: hsl(107, 45%, 56%);
  --clr-brand-lighter: hsl(107, 45%, 70%);
  --clr-brand-yellow: hsl(61, 73%, 69%);
  --clr-font-footer: hsl(160, 100%, 90%);;
  --clr-brand-darker: hsl(170, 56%, 21%);
  --p-section: 1.5em;
  --fz-normal: 1em;
  --fz-small: 0.75em;
  --fz-big: 1.5em;
  --font-dark: hsl(171, 56%, 12%);
  --font-gray: hsl(172, 12%, 51%);
  --h-menu:4.5rem;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.55);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

html{
  overflow-x:hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--bg-dark);
  font-weight: 800;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  line-height: 90%;
}

section{
  padding: 0 var(--p-section);
  max-width:1200px;
  margin:auto;
  justify-content: center;
}


/* ########### 
Page transition @nuxt
#############*/

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* ########### 
nuxt-link @nuxt
#############*/

a.nuxt-link-exact-active {
  color: var(--clr-brand-normal);
}
/* ########### 
Components
############# */

.button--action{
  @apply rounded-full py-2 px-4 cursor-pointer shadow-md shadow-inner;
}

.button--light{
background-color: var(--bg-light);
color:var(--clr-brand-darker);
box-shadow:  var(--shadow), var(--shadow-inner);
}

.button--light:hover{
background-color: var(--clr-brand-light);
color:var(--font-dark); 

}

.date{
  color:var(--font-gray);
  font-size: 0.75em;
  font-weight: 600;
}


/* ########### 
Plugins V-formulate
############# */

.formulate-input-element input{
    @apply rounded-md border py-1 px-2 bg-white outline-none;
}

.form-2-col {
  @apply flex  flex-wrap flex-1 w-full;
}

.form-line {
  @apply flex flex-wrap justify-between;
}
.form-col {
  @apply flex flex-col max-w-screen-sm self-start mx-auto;
}
.form-col > * {
  margin-bottom: 0.75rem;
}
.form-2-col > * {
  flex-basis: 50%;
}

/* ########### 
Appear on scroll
############# */

.from-left{
  transform: translateX(-30%);
  opacity: 0;
}
.from-right{
  transform: translateX(30%);
  opacity: 0;
}

.from-right, .from-left{
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}
.from-left.appear,
.from-right.appear{
  opacity: 1;
  transform:translateX(0);
}

/* ########### 
Appear on scroll
############# */

.auth-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* ########### 
Plugins V-toast
############# */

.toasted-container.toastContainer.top-right {
	top: 4rem;
	right: 0%;
}




