
/* ########### 
GLOBALS 
#############*/

html{
  overflow-x:hidden;
  min-height: 101%;
}
h1{
  font-weight: 700;
  font-size: xx-large;
}
h2{
  font-weight: 600;
  font-size: larger;
}
/* ########### 
Page transition @nuxt
#############*/

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* ########### 
nuxt-link @nuxt
#############*/
a.nuxt-link-active {
  font-weight: bold;
}
a.nuxt-link-exact-active {
  color: #16664f;
  pointer-events: none;
}
/* ########### 
Components
############# */

.button--action{
  @apply rounded-full bg-black text-white py-2 px-2 cursor-pointer;
}

/* ########### 
Plugins V-formulate
############# */

.formulate-input-element input{
    @apply rounded-md border py-1 px-2 bg-white outline-none;
}

.form-2-col {
  @apply flex  flex-wrap flex-1 w-full;
}

.form-line {
  @apply flex flex-wrap justify-between;
}
.form-col {
  @apply flex flex-col min-w-80 max-w-screen-sm pl-4 self-start mx-auto;
}
.form-col > * {
  margin-bottom: 0.75rem;
}
.form-2-col > * {
  flex-basis: 50%;
}

/* ########### 
Appear on scroll
############# */

.from-left{
  transform: translateX(-30%);
  opacity: 0;
}
.from-right{
  transform: translateX(30%);
  opacity: 0;
}

.from-right, .from-left{
  transition: opacity 250ms ease-in, transform 400ms ease-in;
}
.from-left.appear,
.from-right.appear{
  opacity: 1;
  transform:translateX(0);
}

/* ########### 
Plugins V-toast
############# */

.toasted-container.toastContainer.top-right {
	top: 4rem;
	right: 0%;
}




